.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: fit-content;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Jura", sans-serif;
  font-weight: 700;
  margin: 0 auto;
  padding-top: 1rem;
  color: #003153;
  text-shadow: 2px 2px 0 rgba(224, 255, 255, 0.6);
}

.header img {
  border: 2px solid #40826d;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 2px 2px rgba(224, 255, 255, 0.3);
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  width: 100%;
  max-width: 35rem;
}

.contacts ul {
  width: 100%;
  list-style: none;
  padding: 1rem 0 1.5rem;
}

.contacts li {
  position: relative;
  font-family: "IBM Plex Sans", sans-serif;
  border: 2px solid #40826d;
  border-radius: 20px;
  margin: 0.5rem 2rem;
  padding: 0.5rem 1rem;
  background-color: #7bb661;
  box-shadow: 0 0 5px 1px rgba(224, 255, 255, 0.4);
}

.contacts li p {
  width: 95%;
  padding: 2px 0;
  font-style: italic;
  border-bottom: #40826d 1px solid;
}

.contacts li p span {
  color: #003153;
  padding: 0 0.5rem;
  font-weight: bold;
  font-style: normal;
  text-shadow: -1px 1px 0px rgba(224, 255, 255, 0.6);
}

.delete-btn {
  position: absolute;
  bottom: 10%;
  right: 3%;
  color: #40826d;
  cursor: pointer;
  transition: transform 0.4s;
  background-color: transparent;
  border: none;
}

.edit-btn {
  position: absolute;
  top: 10%;
  right: 3%;
  cursor: pointer;
  color: #40826d;
  transition: transform 0.4s;
  background-color: transparent;
  border: none;
}

.delete-btn:hover,
.edit-btn:hover {
  color: #003153;
  transform: scale(1.3);
  transition: transform 0.4s;
}

.clear-btn {
  width: 90%;
  margin: 0 auto 2rem;
}

@media (max-width: 576px) {
  .header img {
    width: 32px;
    height: 32px;
  }
  .contacts {
    max-width: 25rem;
  }
  .contacts li {
    margin: 0.5rem 1rem;
  }
}
