.persons {
  margin: 2rem auto;
  width: 100%;
  max-width: 35rem;
}

.persons ul {
  list-style: none;
  padding: 1.5rem 0;
}

.persons li {
  font-family: "IBM Plex Sans", sans-serif;
  border: 1px solid #306030;
  border-radius: 5px;
  margin: 0.5rem 2rem;
  padding: 0.5rem 1rem;
  background-color: #7bb661;
  box-shadow: 0 0 3px 2px #30603080;
}

.persons li p {
  font-style: italic;
}

.persons li p span {
  color: #003153;
  padding: 0 0.5rem;
  font-weight: bold;
  font-style: normal;
}

@media (max-width: 576px) {
  .persons {
    max-width: 25rem;
  }
  .persons li {
    margin: 0.5rem 1rem;
  }
}
